<html>
  <head>
    <title>testpie</title>
  </head>

  <body>


    <div
      style="behavior:url(piemenu2.htc); width=100%; height=50%; background-color:yellow"
    >
      <xml>
        <piemenu usepopup="1">
	  <html>Pie<br/>Menu</html>
	  <item name="Yes"/>
	  <item name="No"/>
	</piemenu>
      </xml>
    </div>

    <div
      style="behavior:url(piemenu.htc); width=100%; height=50%; background-color:green"
    >
      <xml>
        <piemenu usepopup="1">
	  <html>Pie<br/>Menu</html>
	  <item name="Yes"/>
	  <item name="No"/>
	</piemenu>
      </xml>
    </div>

  </body>
</html>
